@charset "UTF-8";
.content {
    width: auto;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.page-nav{
    position: relative;
    width: 100%;
    height: 35px;
    padding-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-nav ul li{
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    text-align: center;
}
.page-nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.page-nav ul li a.active{
    color: #147b97;
    font-weight: bold;
    border-bottom: 2px solid #147b97;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#info{
    width: 100%;
    height:calc(100% - 35px);
    display: inline-block;
}
.content-bottom>ul {
    width: 100%;
    height: 40px;
    font-size: 0;
}
.content-bottom>ul li {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 40px;
    padding: 5px 0;
    box-sizing: border-box;
    line-height: 30px;
}
.content-bottom>ul li input {
    width: 110px;
    height: 25px;
    font-size: 14px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-indent: 5px;
}
.content-bottom>ul li select {
    width: 110px;
    height: 25px;
    font-size: 14px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-indent: 5px;
}
.content-bottom>ul li span{
    display: inline-block;
    font-size: 16px;
}
.content-bottom>ul li span:first-of-type {
    width: 80px;
    text-align: right;
}
.content-bottom>ul li:last-of-type input {
    background-color: #fff;
    width: 70px;
    height: 25px;
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid #ccc;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    margin-left: 30px;
}

.content-bottom>ul li:last-of-type input.btn-active{
    background-color: #3168ba;
    color: #fff;
    border-color: #3168ba;
}
.content-bottom {
    width: 100%;
    height: calc(34% - 5px);
    margin-top: 5px;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.content-bottom>ul li:first-of-type{
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.content-bottom>ul li:last-of-type input{
    text-indent: 0;
}
.three-box>p{
    position: relative;
    width: 100%;
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.content-bottom>ul::after,
.three-box>p::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: "";
    border-bottom: 1px solid #e5e5e5;
}
#dataBox {
    width: 100%;
    height: calc(100% - 35px);
}

.three-box{
    width: 100%;
    height: 66%;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#earth {
    position: relative;
    width: 100%;
    height: calc(100% - 40px) ;
}
#earth p{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 100%;
    line-height: 20px;
    padding-left: 20px;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 2;
    color: #fff;
}
#earth>p>span {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    line-height: 20px;
}

#earth>p>span:nth-of-type(1),
#earth>p>span:nth-of-type(3),
#earth>p>span:nth-of-type(5) {
    display: inline-block;
    width: 20px;
    height: 15px;
    vertical-align: top;
    margin: 3px 5px 0 10px;
}

#earth>p>span:nth-of-type(1) {
    background-color: #f73306;
}

#earth>p>span:nth-of-type(3) {
    background-color: #f7a01f;
}

#earth>p>span:nth-of-type(5) {
    background-color: #fcf63d;
}

.show-dangers-info{
    width: 100%;
    height:auto;
    overflow: hidden;
    padding-bottom: 10px;

}
.show-dangers-info:not(:last-of-type){
    border-bottom: 1px solid #ccc;
}

.show-dangers-info li{
    float: left;
    height: auto;
    width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
}


.show-dangers-info li span{
    display: inline-block;
    vertical-align: top;
    min-height: 30px;
    line-height: 30px;
    margin-right: 10px;
    font-size: 14px;
}

.show-dangers-info li img{
    width: 150px;
    height: auto;
}
.tree-icon{
    display: none;
}
.panel-tool{
	display:block;
}
.window-shadow{
	display:none!important;
}
.panel-tool>a:not(:last-of-type){
    display: none;
}

.datagrid-view2 .datagrid-header .datagrid-header-inner,
.datagrid-view2 .datagrid-header .datagrid-header-inner .datagrid-htable,
.datagrid-view2 .datagrid-body .datagrid-btable{
    width: 100%;
}
.content-top>ul li:last-of-type input {
    text-indent: 0;
}