<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freedotech.app.ztly.dao.HuanjingDao">
	    <!-- 根据项目 id 查询相关的水文数据 -->
    <select id="getHuanjingDataByProjectId" parameterType="int" resultType="Huanjing">
        SELECT
            tkh.*
            FROM `t_project` tp
            LEFT JOIN `t_keyan_project_huanjing` tkph ON tp.`id` = tkph.project_id
            LEFT JOIN `t_keyan_huanjing` tkh ON tkph.`huanjing_id` = tkh.id
        WHERE tp.`id` = #{id}
    </select>
</mapper>