<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freedotech.app.ztly.dao.PModelDao">
    <!-- 根据用户 id 查询模型部件表名 -->
    <select id="getUnitTableName" parameterType="String" resultType="String">
		SELECT
		tp.unitname
		FROM
		t_project tpr
		LEFT JOIN t_project_pmodel tpp ON 
		tpr.id = tpp.t_mod_id
		LEFT JOIN t_pmodel tp ON tp.id = tpp.t_pro_id
		WHERE
		tpr.id = #{id}
	</select>
    <!-- 根据用户 id 查询模型部件路径 -->
    <select id="getModelUrlByProjectId" parameterType="String" resultType="com.freedotech.app.ztly.model.PModel">
		SELECT
		tp.*
		FROM
		t_project tpr
		LEFT JOIN t_project_pmodel tpp ON tpr.id = tpp.t_mod_id
		LEFT JOIN t_pmodel tp ON tp.id = tpp.t_pro_id
		WHERE
		tpr.id =
		#{projectid}
	</select>
    <!-- 查询树节点数据 -->
    <select id="getChildrenByUid" resultType="com.freedotech.app.ztly.model.Node4ZTree" parameterType="String">
		SELECT uid,pid,name,boundsmax,boundsmin,leaf FROM ${tableName} WHERE pid=#{uid};
	</select>
    <!-- 判断是否是父节点 -->
    <select id="getTreeDataInUnit" resultType="com.freedotech.app.ztly.model.Node4ZTree" parameterType="String">
		SELECT uid,pid,name,boundsmax,boundsmin,leaf FROM ${tableName}
	</select>
    <insert id="insertTreeData">
		insert into ${tablename} (uid,pid,name,boundsmin,boundsmax,leaf) value(#{node4zTree.uid},#{node4zTree.pid},#{node4zTree.name},#{node4zTree.boundsmin},#{node4zTree.boundsmax},#{node4zTree.leaf});
	</insert>

	<select id="getGrandfatherUid" resultType="java.lang.String" parameterType="String">
		SELECT pid FROM t_unit14 WHERE uid=(SELECT pid FROM t_unit14 WHERE uid = #{uid})
	</select>
	<select id="getAllAttrGrandfatherUid" resultType="com.freedotech.app.ztly.model.Node4ZTree" parameterType="String">
		SELECT uid,pid,name,boundsmax,boundsmin,leaf FROM t_unit14 WHERE uid = (SELECT pid FROM t_unit14 WHERE uid=(SELECT pid FROM t_unit14 WHERE
		uid =
		#{uid}))
	</select>
	<select id="getNode4ZTreeByUid" resultType="com.freedotech.app.ztly.model.Node4ZTree" parameterType="String">
		SELECT uid,pid,name,boundsmax,boundsmin,leaf FROM t_unit14 WHERE uid=#{uid}
	</select>
</mapper>     