<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freedotech.app.ztly.dao.PModelDao">
	<!-- 根据用户 id 查询模型部件表名 -->
	<select id="getUnitTableName" parameterType="String" resultType="String">
		SELECT
		tp.unitname
		FROM
		t_project_pmodel tpp
		LEFT JOIN t_pmodel tp ON
		tp.id = tpp.t_mod_id
		LEFT JOIN t_project tpr ON tpr.id = tpp.t_pro_id
		WHERE
		tpr.id = #{id}
	</select>
	<!-- 根据用户 id 查询模型部件路径 -->
	<select id="getModelUrlByProjectId" parameterType="String" resultType="com.freedotech.app.ztly.model.PModel">
		SELECT
		tp.*
		FROM
		t_project tpr
		LEFT JOIN t_project_pmodel tpp ON tpr.id = tpp.t_mod_id
		LEFT JOIN t_pmodel tp ON tp.id = tpp.t_pro_id
		WHERE
		tpr.id =
		#{projectid}
	</select>
		<!-- 查询树节点数据 -->
	<select id="getNodesTreeData" resultType="com.freedotech.app.ztly.model.Node4ZTree" parameterType="String" statementType="STATEMENT">
		SELECT
		*
		FROM
		${tableName};
	</select>
	<insert id="insertTreeData" parameterType="com.freedotech.app.ztly.model.Node4ZTree">
		insert into t_unit3(uid,pid,name,boundsmin,boundsmax) value(#{uid},#{pid},#{name},#{boundsmin},#{boundsmax});
	</insert>
</mapper>     