<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freedotech.app.ztly.dao.ProjectDao">

    <!-- 根据用户 id 查询用户所具有的角色对象表示 -->
    <select id="listProjectByUserId" parameterType="int" resultType="Project">
        SELECT
            tp.`id`,
            tp.`name`,
            tp.`imgurl`
            FROM `t_project` tp
            LEFT JOIN `t_user_project` tup ON tp.`id` = tup.project_id
            LEFT JOIN `t_user` tu ON tup.`user_id` = tu.id
        WHERE tu.`id` = #{id}
    </select>

</mapper>