<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freedotech.app.ztly.dao.TreeNodeDao">
	<!-- 查询树节点数据 -->
	<select id="getNodesTreeData" resultType="com.freedotech.app.ztly.model.Node4ZTree" parameterType="String" statementType="STATEMENT">
		SELECT
		*
		FROM
		${tableName};
	</select>
</mapper>      