@charset "UTF-8";
.content {
    width: auto;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.page-nav{
    position: relative;
    width: 100%;
    height: 35px;
    padding-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-nav ul li{
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    text-align: center;
}
.page-nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.page-nav ul li a.active,.page-nav ul li a:hover{
    color: #147b97;
    font-weight: bold;
    border-bottom: 2px solid #147b97;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#info{
    width: 100%;
    height:calc(34% - 5px);
    display: inline-block;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#info>p,
.three-box>p{
    position: relative;
    width: 100%;
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
#info>p::after,
.three-box>p::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: "";
    border-bottom: 1px solid #e5e5e5;
}
#dataBox {
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 10px;
}

.three-box{
    width: 100%;
    height: calc(66% - 35px);
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#earth {
    width: 100%;
    height: calc(100% - 40px);
}

.panel-tool>a:not(:last-of-type){
    display: none;
}

.tree-icon{
    display: none;
}
.datagrid-view2 .datagrid-header .datagrid-header-inner,
.datagrid-view2 .datagrid-header .datagrid-header-inner .datagrid-htable,
.datagrid-view2 .datagrid-body .datagrid-btable{
    width: 100%;
}
.content-top>ul li:last-of-type input {
    text-indent: 0;
}