@charset "UTF-8";
.content{
    width: auto;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-nav{
    position: relative;
    width: 100%;
    height: 35px;
    padding-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-nav ul li{
    display: inline-block;
    width: auto;
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    text-align: center;
}
.page-nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.page-nav ul li a.active{
    color: #147b97;
    font-weight: bold;
    border-bottom: 2px solid #147b97;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-nav>div{
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 30px;
    margin:0 auto;

}
.content-middle{
    position: relative;
    width: 100%;
    height: calc(66% - 35px);
    background-color: #ccc;
}
#earth{
     position: relative;
     width: 100%;
     height: 100%;
     background-color: #ccc;
 }
#earth>p,.content-bottom>p{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 2;
    color: #000;
    font-size: 14px;
}

.dghh{
    border-radius: 10px;
    background-color: #c04041;
    color: #fff;
    vertical-align: top;
    padding:0 10px;
}

.content-bottom .dghh{
     background-color: transparent;
 }
.line{
    color: #fff;
    margin: 10px;
}
.line:nth-of-type(4){
    margin-left: 20px;
}

.content-bottom{
    position: relative;
    width: 100%;
    height: 34%;
    font-size: 0;
}
.content-bottom>p span{
    color: #fff;
}
.content-bottom .icon-fxyj{
    font-size: 20px;
    margin-left: 30px;
    color: #c04041;
}

#chartBox{
    display: none;
    position: absolute;
    left: 30%;
    top: 40px;
    width: 500px;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;

}
#chart{
    display: inline-block;
    width: 300px;
    height: 200px;
}
#chartBox div:last-of-type{
    float: right;
    width: 200px;
    height: 200px;
    font-size: 14px;
}
#chartBox div:last-of-type p{
    color: red;
    height: 25px;
    line-height: 25px;
}
#chartBox div:last-of-type ul{
    border: 1px solid #cccccc;
    box-sizing: border-box;
    width: 200px;
    height: 175px;
    padding: 4px;
    overflow: auto;
}
#chartBox div:last-of-type ul li{
    height: 25px;
    line-height: 25px;
}
    /* 字体图标样式*/
.icon-arrow-right{
    font-size:16px;
    margin: 0 5px;
    color: #000;
}

/* 信息展示的滚动条 */
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    ::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/*构件树*/
.tree-box{
    position: absolute;
    left: 0;
    top: 40px;
    width: 200px;
    height: 90%;
    background-color: rgba(255,255,255,.5);
    z-index:2;
}
.tree-box-title{
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}
.tree-box-title .iconfont{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #147b97;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: rgba(255,255,255,.3);

}
#tree{
    width: 100%;
    height: calc(100% - 30px);
    overflow: auto;
}

.tree-node-hover{
    background: none!important;
}