@charset "UTF-8";
.content{
    width: auto;
    height: 100%;
    overflow: hidden;
}
.page-nav{
    position: relative;
    width: 100%;
    height: 35px;
    padding-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-nav>ul>li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.page-nav>ul>li a{
    display: block;
    width: 100%;
    height: 100%;

}
.page-nav>ul>li>a{
    letter-spacing: 5px;
}
.page-nav>ul>li a.active,.page-nav>ul>li:hover>a{
    color: #147b97;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-nav>ul>li:hover>a{
    letter-spacing: 5px;
}
.pull-down{
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: auto;
    z-index:6;
    border: 1px solid #ccc;
    background-color: #fff;
}

.pull-down li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.pull-down li:not(:last-of-type){
    border-bottom: 1px dashed #e8e8e8;
}
.pull-down li:hover{
    background-color: #e8e8e8;
}
.content-top{
    position: relative;
    width: 100%;
    height: calc(66% - 35px);
    font-size: 0;
}
#chartOne{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(30% - 10px);
    height: 100%;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.icon-pos{
    position: absolute;
    top: 33%;
    right: 15%;
    font-size: 25px;
    color: rgba(0,0,0,.5);
    z-index: 5;
    transform: rotateZ(-50deg);
}
#earth{
    display: inline-block;
    position: relative;
    width: calc(70% - 5px);
    margin-left: 5px;
    height: 100%;
    font-size: 14px;
}
#earth>p{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 2;
    color: #000;
}

.dghh{
    border-radius: 10px;
    background-color: #c04041;
    color: #fff;
    vertical-align: top;
    padding:0 10px;
}
.line{
    color: #fff;
    margin: 10px;
}
.line:nth-of-type(4){
    margin-left: 20px;
}
#earth p img{
    position: absolute;
    right: 10px;
    top: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight:bolder;
    color: red;
}


.swiper-container{
    width: 100%;
    height: 34%;
    font-size: 0;
}

.swiper-container>div{
    display: inline-block;
    vertical-align: top;
}

.info-left>p,
.info-right>p{
    position: relative;
    width: 100%;
    height: 20px;
    text-align: left;
    text-indent: 1rem;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    background-color: #e8e8e8;
}
.info-left{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
}
.info-left>div,
.text-info>div{
    display: inline-block;
    width: 50%;
    height: calc(50% - 10px);
    font-size: 14px;
    vertical-align: top;
    padding: 5px;
    border: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.text-info>div{
    width: calc(100% / 3);
    height: 50%;
}
.info-left>div p,
.text-info>div p,
.data-info p{
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.info-left>div p>i,
.info-left>div p>span,
.text-info>div p>i,
.text-info>div p>span,
.data-info>div p>i,
.data-info>div p>span{
    float: right;
    color: #147b97;
    cursor: pointer;
}
.info-left>div p>span input,
.text-info>div p>span input{
    vertical-align: middle;
}

.info-left>div ul,
.text-info>div ul{
    clear: both;
    width: 100%;
    height:calc(100% - 20px);
    overflow: hidden;
}
.info-left>div ul li,
.text-info>div ul li{
    float: left;
    width: 50%;
    min-height: 20px;
    text-align: left;
    margin-top: 5px;
    line-height: 20px;
    font-size: 12px;
}
.info-left>div ul:hover,
.text-info>div ul:hover{
    overflow-y: auto;
}

.info-right{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 70%;
    height: 100%;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
}
.info-right ul{
    width: 100%;
    height:auto;
}
.info-right ul li{
    width: 100%;
    height:auto;
}
.info-right ul li span{
    display: inline-block;
    text-align: left;
}
.info-left p>i,
.info-right p>i{
    float: right;
    color: #147b97;
}
.text-info{
    display: inline-block;
    width: 75%;
    height: calc(100% - 20px);
}
.data-info{
    width: 25%;
    padding:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: calc(100% - 20px);
    float: right;
    border: 1px solid #ccc;
}
#chartTwo{
    width: 100%;
    height:calc(100% - 20px);
}

/* 字体图标样式*/
.icon-arrow-right{
    font-size:16px;
    margin: 0 5px;
    color: #000;
}


/* 信息展示的滚动条 */
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 1366px) {
    .swiper-container{
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
    .info-left,.info-right{
        width: 100%;
        height: calc(100% - 10px);
    }
    .info-left>div{
        width: 25%;
        height: calc(100% - 20px);
    }
    .text-info>div{
        width:calc(100% / 6);
        height: 100%;
    }
    .text-info>div ul li {
        float: left;
        width: 100%;
    }
    #chartTwo{
        width: 100%;
        height: calc(100% - 20px);
    }
}
.compassDiv{
    margin-top: 20px;
}