@charset "utf-8";

/* nav */
.nav {
    width: 220px;
    height: 100%;
    background: #F4F5F7;
    transition: all .3s;
}

.nav a {
    display: block;
    overflow: hidden;
    padding-left: 10px;
    line-height: 46px;
    max-height: 46px;
    transition: all .3s;
}

.nav a span {
    margin-left: 10px;
}

.nav-item {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-item.nav-show {
    border-bottom: none;
}

.nav-item ul {
    display: none;
    /*background: rgba(0, 0, 0, .1);*/
}

.nav-item ul li {
    text-indent: 2rem;
}

.nav-item.nav-show ul {
    display: block;
}

.nav-item > a:before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 46px;
    background: #34A0CE;
    opacity: 0;
    transition: all .3s;
}

.nav .nav-icon {
    font-size: 20px;
    position: absolute;
    margin-left: -1px;
}

.icon-arrow-down {
    float: right;
    margin-right: 20px;
    font-size: 12px;
    transition: transform .3s;
}

.nav-show .icon-arrow-down {
    transform: rotate(-180deg);
}

.nav-show{
    color: #FFF;
    background: rgba(0, 0, 0, .1);
}
.nav-show>a{
    font-weight: bold;
}
.nav-item > a:hover {
    color: #FFF;
    font-weight: bold;
    /*background: rgba(0, 0, 0, .1);*/
    background-color: #34A0CE;
}

.nav-show > a:before, .nav-item > a:hover:before {
    opacity: 1;
}

.nav-show > a {
    color: #fff;
    background-color: #34A0CE;
}

.nav-item li:hover a {
    color: #34A0CE;
    /*background: rgba(0, 0, 0, .1);*/
    background-color: #fff;
}
.nav-item li a.navLiActive{
    color: #34A0CE;
    /*background: rgba(0, 0, 0, .1);*/
    background-color: #fff;
    font-weight: bold;
}







